{% extends "admin/base.html" %}

{% load i18n %}


{% block extrastyle %}
<style>
@media print
{    
   .no-print, .no-print *
   {
      display: none !important;
   }
}
</style>
{% endblock %}


{% block title %} {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block content %}

<div style="float: right; max-width:400px">

<h3>{% trans "Filter by transaction types" %}</h3>
<span><a style="display: inline-block; margin-right: 10px;" href="{% url 'table_m' year=year month=month %}">{% trans "All types" %}</a></span>
{% for t in tags %}
{% if t.pk = tag %}
<span style="border: solid 2pt red; display: inline-block; margin-right: 10px"><a href="{% url 'table_m' year=year month=month tag=t.pk|stringformat:"i" %}">{{ t.label }}</a></span>
{% else %}
<span><a style="display: inline-block; margin-right: 10px;" href="{% url 'table_m' year=year month=month tag=t.pk|stringformat:"i" %}">{{ t.label }}</a></span>
{% endif %}
{% endfor %}

<h3>{% trans "Month selection" %}</h3>
<table>
{% for y in years %}
<tr>
<th><a href="{% url 'table_y' year=y tag=tag %}">{{ y }}</a></th>
{% for m in months %}
{% if y = year and m = month %}
<td style="border: solid 2pt red;"><a href="{% url 'table_m' year=y month=m tag=tag%}">{{ m }}</a></td>
{% else %}
<td><a href="{% url 'table_m' year=y month=m tag=tag%}">{{ m }}</a></td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
</div>


<h1>{{ month }}-{{ year }} {{ tag_label }}</h1>

<h3>{% trans "Summary" %}</h3>
<table>
<tr><th>{% trans "Income" %}</th><td>{{ income.sum }}</td></tr>
<tr><th>{% trans "Receivables" %}</th><td>{{ receivables.sum }}</td></tr>
<tr><th>{% trans "Balance" %}</th><td>{{ total.sum }}</td></tr>
</table>


<h3>{% trans "Frequency table" %}</h3>
<table>
<tr>
<th>{% trans "Amount" %}</th>
<th>{% trans "Freq" %}</th>
</tr>
{% for f in freq_table %}
<tr>
<th>{{ f.amount }}</th>
<td>{{ f.freq }}</td>
</tr>
{% endfor %}
</table>



<h3>{% trans "Transactions" %}</h3>

<table>
  {% for list_item in object_list %}
  <tr>
    <td>{{ list_item.owner }}</td>
    {% if list_item.amount < 0 %}<td style="color: red;">{{ list_item.amount }}</td>
    {% else %}<td style="color: green;">+{{ list_item.amount }}</td>{% endif %}
    <td>{{ list_item.tag }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}

